.form {
  background-color: #ff97cd19;
  padding: 2rem;
  width: max-content;
  height: auto;
}

.form label {   
  display: block;
  margin-bottom: 0.05rem;
  color: #cd007f;
  font-weight: bold;
}

.form input,
.form textarea {
  width: 300px;
  height: 100px;
  display: block;
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  background-color: #c7bec368;
  color: #28262c;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.actions a, .actions button {
  cursor: pointer;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 4px;
  background-color: #6c0338b3;
  color: #f0ade3;
}

.actions button:hover {
  background-color: #f464de;
}

.actions a {
  text-decoration: none;
  color: #6c0338b3;
  background-color: transparent;
}

.actions a:hover {
  color: #e6bedd;
}